section {
    min-height: 540px;
}


.sosmed-1:hover   {
    background-color: dodgerblue;
}
.sosmed-2:hover{
    background-color: fuchsia;
}
.sosmed-3:hover{
    background-color: white;
}
.sosmed-4:hover{
    background-color: green;
}